@model NoticiaIndexViewModel

<h1>Lista de Notícias</h1>
<div class="row">
    <div class="col">
        <a asp-action="Cadastro" class="btn btn-info mb-3">Nova notícia</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-bordered filter-datatable" width="100%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>Titulo</th>
                    <th>Usuário</th>
                    <th>Tags</th>
                    <th>Opções</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var noticia in Model.Noticias)
                {
                    <tr>
                        <td scope="row">@noticia.Id</td>
                        <td>@noticia.Titulo</td>
                        <td>@noticia.Usuario</td>
                        <td>

                            @if(noticia.Tags.Any())
                            {
                                @foreach(var tag in noticia.Tags)
                                {
                                    <span class="badge badge-success">@tag.Descricao</span>
                                }
                               
                            }
                            else
                            {
                                <span>N/D</span>
                            }

                        </td>
                        <td>
                            <button data-url="/noticias/excluir/@noticia.Id" class="btn btn-sm btn-danger btnRemove" @string.Format("{0}", noticia.TemTag ? "disabled=disabled" : "")> Excluir </button>
                            &nbsp;
                            <a class="btn btn-sm btn-warning" asp-action="Cadastro" asp-route-id="@noticia.Id"> Editar </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Noticia.js"> </script>
}